@charset "utf-8";
@import "./reset.css";
@import "./custmer.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
/* ----- color ----- */
    --basic-color: #1a1a1a;
    --primary-color: #04c3be;
    --font-color: #2b2b43;
    --white-color: #f0f0f0;
    --red-color:rgb(250, 8, 8);
    --grat-color:#999;
    --point-color: #6236ff;
    /* ----- font ----- */
    --body-font: 'NanumSquare';
    --small-font: .85rem
    /* ----- layout ----- */
}
    .inner {
        min-width: 568px;
        max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    position: relative;
}
.flex {
    display: flex;
}
/* ========== header ========== */
.header {
    padding-top: 3rem;
}
.header__container {
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.main__logo a img {
    width: 167px;
}
.gnb__item a {
    margin: 0 30px;
    font-size: var(--small-font);
    font-weight: bold;
    letter-spacing: -.75px;
    transition: .2s;
}
.gnb__item:last-child a {
    margin-right: 0;
}
.gnb__item a:hover {
    color: var(--primary-color);
}
/* ========== intro__main section ========== */
.intro__main {
    background: url(../image/main/main_visual.png) center/cover;
}
.intro__container {
    position: relative;
    height: 856px;
}
.scroll__img {
    position: absolute;
    bottom: 0;
    left: 50%;
}
.visual {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: -1.8px;
}
.typing__txt {
    position: relative;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    /* animation: typing 2s steps(11, end) infinite alternate; */
}
.typing__txt:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 50px;
    top: 3px;
    right: 0;
    border-right: 1px solid #000;
    animation: cursor 1s step-end infinite;
}
.links {
    position: absolute;
    bottom: 78px;
    right: 0;
}
.links a {
    width: 146px;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 17px;
    text-align: center;
    background: var(--point-color);
    color: var(--white-color);
    border-radius: 10px;
    font-weight: 700;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    50% {
        width: 20%;
    }
    100% {
        width: 40%;
    }
}
@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* ========== explanat section ========== */
.explanat {
    background: var(--basic-color);
    color: var(--white-color);
    margin-bottom: 130px;
}
.explanat__container {
    height: 506px;
}
.slogan {
    float: left;
    margin-top: 180px;
    width: 50%;
}
.slogan__text {
    position: relative;
    margin: -10px 0 15px 0;
    font-size: 42px;
    line-height: 62px;
    font-weight: 300;
}
.slogan__text:after {
    content: '';
    position: absolute;
    top: 30px;
    right: 20px;
    width: calc(100% - 300px);
    height: 1px;
    background: var(--white-color);
}
.slogan__desc {
    margin-top: 170px;
    float: right;
    width: 50%;
    line-height: 26px;
}
.desc p {
    padding-top: 10px;
}
.desc p span {
    color: var(--primary-color);
    font-weight: bold;
}
/* ========== service section ========== */
.service__container {
    height: 750px;
}
.service__title {
    align-items: baseline;
}
.service__title h1 {
    position: relative;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -2px;
}
.service__title h1:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 20px;
    background: var(--primary-color);
    z-index: -1;
}
.service__title p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.service__item {
    margin-right: 24px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.26px;
    font-weight: bold;
    cursor: pointer;
}
.service__item:hover {
    color: var(--primary-color);
    font-weight: bold;
}
.service__item:after {
    content: "\B7";
    margin-left: 24px;
    color: var(--basic-color);
    cursor: default;
}
.service__item:last-child:after {
    opacity: 0;
}
.silder__content {
    margin-top: 5rem;
}
.img__wrapper {
    float: left;
    width: 58%;
    padding-right: 35px;
}
.img__wrapper img {
    margin: 0 auto;
}
.service__desc {
    float: right;
    width: 42%;
    padding: 100px 0 0 35px;
    text-align: left;
}
.subject__box {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.25px;
}
.subject__box h4 {
    margin-right: 10px;
}
.types {
    padding-top: 6px;
    font-size: 0;
}
.types span {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -.1px;
    text-align: center;
    color: #fff;
    padding: 0 10px;
    margin-right: 5px;
    background: #04c3be;
    border-radius: 12px;
}
.summary {
    line-height: 26px;
    letter-spacing: -.2px;
    margin-top: 36px;
}
.summary .cost {
    color: var(--red-color);
    margin-top: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: -.2px;
}
/* service section arrow */
.slick-prev,
.slick-next{
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: none;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: 1.2rem;
    color: var(--font-color);
    font-size: 2.1rem;
    font-weight: bold;
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}
.slick-dots {
    display: flex;
    /* justify-content: center; */
    /* position: relative; */
    cursor: pointer;
    position: absolute;
    top: 0;
    margin: 40px 0 70px 0;
}
/* active된 dots */
.slick-dots li.slick-active button {
    color: var(--primary-color);
}
/* dots */
.slick-dots li {
    margin-right: .5rem;
}
.slick-dots li button {
    width: 70px;
    height: 15px;
    /* border-radius: 50%; */
    font-size: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

.slick-dots li button:after {
    font-size: 1.1rem;
    font-weight: bold;
}

.slick-dots li:nth-child(1) button:after {
    content:"클래스";
}
.slick-dots li:nth-child(2) button:after {
    content:"그린";
}
.slick-dots li:nth-child(3) button:after {
    content:"바이크";
}
.slick-dots li:nth-child(4) button:after {
    content:"펫";
}
.slick-dots li:nth-child(5) button:after {
    content:"중형";
}
.slick-dots li:nth-child(6) button:after {
    content:"모범";
}
.slick-dots li:nth-child(7) button:after {
    content:"밴";
}

.slick-slide-control00 {
    border: 1px solid #f00;
}
/* ========== service__description section ========== */
.service__description {
    background: url(../image/desc-imge/main_visual02.png);
}
.description__container {
    height: 663px;
}
.desc__item {
    float: left;
    width: 33.3333%;
    padding-top: 180px;
    text-align: center;
}
.desc__title {
    margin: 50px 0 40px;
    color: var(--primary-color);
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: -.25px;
}
.desc_content {
    color: var(--white-color);
    text-align: center;
    line-height: 26px;
    letter-spacing: -.2px;
}
.using {
    position: relative;
    padding-top: 150px;
    overflow: hidden;
}
/* ========== information section ========== */
.information {
    padding: 130px 0 130px 0;
    
}
.information__container {
    position: relative;
}
.info__title {
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -2px;
    font-weight: 400;
}
.info__content {
    margin-top: 34px;
    padding-left: 100px;
}
.info__desc {
    margin-bottom: 20px;
}
.info__desc h1 {
    position: relative;
    float: left;
    width: 170px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}
.info__desc h1:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 14px;
    left: -18px;
    background: var(--basic-color);
}
.price__info {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -.15px;
    box-shadow: 5px 2px 5px var(--grat-color);
    border: 6px double #000;
}
.price__info table th {
    font-size: 16px;
    padding: 10px 70px;
    font-weight: 700;
}
/* ========== footer ========== */
footer {
    background: var(--basic-color);
}
.footer__container {
    height: 266px;
}
.footer__logo {
    float: left;
    width: 300px;
    margin-right: 80px;
}
.footer__logo img {
    display: block;
    margin: 100px 0 0 80px;
    width: 165px;
}
footer address {
    float: left;
    margin-top: 60px;
    line-height: 26px;
    color: var(--white-color);
    font-style: normal;
}
.muted {
    color: var(--grat-color);
    margin-right: 20px;
    font-weight: 400;
}
.copyright {
    margin-top: 6px;
    font-size: 12px;
    color: var(--grat-color);
    letter-spacing: .6px;
}
.social {
    position: absolute;
    top: 20px;
    right: 50px;
}
.social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
















